* {
    color: var(--font-color);
    font-family: myfont;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    margin: 2rem 2rem 2rem 2rem;
}

#main-logo{
    max-width: 10vw;
}

.container {
    display: grid;
    justify-content: center;
    background-color: var(--main-bg-color);
    opacity: 0.9;
    border-radius: 0.5rem;
    width: 100%;
    height: 95vh;
    margin: auto;
    overflow: auto; 
    /*padding: 2rem 10rem 2rem 10rem;*/
}

.header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 17px;
}

.logo-container {
    display: grid;
    justify-content: left;
}

.navigation-bar{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.navigation-link{
    display: block;
    font-family: myfont-bold;
}

.nav-link-button {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.button {
    width: 10rem;
    height: 2.3rem;
    font-family: myfont-bold;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 1.5rem;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
}

.light-button {
    background-color: transparent;
    border:  2px solid #737885;
}

.dark-button {
    background-color: var(--button-bg-color);
    color: white;
}

.section-container{
    display: grid;
    grid-template-rows: auto auto auto;
}

.section1-image-box-description {
    margin-top: 7rem;
    text-align: left;
    color: white;
    font-family: myfont-bold;
    font-weight: 950;
    text-shadow: 1px 1px 0 black;
    padding-left: 1rem;;
}

.section1-title, section2-title {
    text-align: center;
    margin-bottom: 1px;
    margin-top: 0;
    text-shadow: 0.5px 0.5px 0 black;
}

.section1-description{
    text-align: center;
    margin-top: 0;
    margin-bottom: 3.5rem;

}

.section1-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 1rem;
}

.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 150px;
    justify-content: center;
}

.section3-image {
    width: 100%;
    max-width: 420px;
    height: auto;
    border-radius: 1rem;

}

.section2-description {
    margin-bottom: 1rem;
    font-size: smaller;
    font-weight: bold;
    font-family: myfont-light;
}

.section2-description-box{
    width: 430px;
}

.section2-image{
    width: 420px;
}

.section3{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 2.5rem;
    justify-content: normal;
    gap: 1rem;
}

.image-box{
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    width: 98%;
    margin: auto;
}

.donut1 {
    background-image: url(images/donut2.jpg);
}

.donut2 {
    background-image: url(images/donut3.jpg);
}

.donut3 {
    background-image: url(images/donut7.jpg);
}




/* mobile device */
@media screen and (max-width: 767px) {
    .container{
        display: grid;
        position: relative;
        grid-template-areas:
        "h h h h "
        "s1 s1 s1 s1"
        "s2 s2 s2 s2"
        "s3 s3 s3 s3";
    
        }

    .header{
        position: absolute;
        left: 50%;
        top: 3rem;
        transform: translate(-50%, -50%);
        width: 20rem;
        grid-area: h;
        grid-template-columns: 1fr;
        font-size: 15px;
        }
    
    .section1{
        display: grid;
        grid-area: s1;
        position: absolute;
        left: 0;
        transform: translate(-50%, -50%);
        top: 4rem;
        width: 20rem;
        font-size: 15px;
        }

    .section2{
        grid-area: s2;
        grid-template-columns: 1fr; 
        position: absolute;
        top: 1rem;
        transform: translate(-50%, -50%);
        }

    .section3{
        grid-area: s3;
        grid-template-columns: 1fr;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 30rem;
        font-size: 15px;
        display: grid;
        margin-top: 2rem;
        }

    .image-box{
        width: 10rem; 
        margin-bottom: 1rem;   
        }

    .section3-image-box{
        margin: auto;
        width: 14rem;    
        }

    .logo-container{
        display: grid;
        justify-content: center;
        }

    .section2-description-box{
        width: 20rem;
        display: block;
        text-align: center;
        margin: auto;
        position: relative; 
        }

    #dark-button{
        position: absolute;
        right: 5rem;
        }     
    }

