* {
    color: var(--font-color);
    font-family: myfont;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    margin: 2rem 2rem 2rem 2rem;
}

#main-logo{
    max-width: 10vw;
}

.container {
    display: grid;
    justify-content: center;
    background-color: var(--main-bg-color);
    border-radius: 0.5rem;
    width: 100%;
    height: 98vh;
    margin: auto;
    padding-bottom: 2rem;
}

.header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 17px;
}

.logo-container {
    display: grid;
    justify-content: left;
}

.navigation-bar{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.navigation-link{
    display: block;
    font-family: myfont-bold;
}

.nav-link-button {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.button {
    width: 10rem;
    height: 2.3rem;
    font-family: myfont-bold;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 1.5rem;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-button {
    background-color: transparent;
    border:  2px solid #737885;
}

.dark-button {
    background-color: var(--button-bg-color);
    color: white;
}

.section-container{
    display: grid;
    grid-template-rows: auto auto auto;
}

.section1-image-box-description {
    margin-top: 7rem;
    text-align: left;
    color: white;
    font-family: myfont-bold;
    font-weight: 950;
    text-shadow: 1px 1px 0 black;
    padding-left: 1rem;;
}

.section1-title, section2-title {
    text-align: center;
    margin-bottom: 1px;
    margin-top: 0;
    text-shadow: 0.5px 0.5px 0 black;
}

.section1-description{
    text-align: center;
    margin-top: 0;
    margin-bottom: 3.5rem;

}

.section1-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 1rem;
}

.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 150px;*/
    justify-content: center;
    gap: 1rem;
}

.section3-image {
    max-width: 420px;
    border-radius: 1rem;

}

.section2-description {
    margin-bottom: 1rem;
    font-size: smaller;
    font-weight: bold;
    font-family: myfont-light;
}

.section2-description-box{
    width: 430px;
}

.section2-image{
    width: 420px;
}

.section3{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 2.5rem;
    justify-content: normal;
    
}

.image-box{
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    width: 98%;
    margin: auto;
}

.donut1 {
    background-image: url(images/donut2.jpg);

}

.donut2 {
    background-image: url(images/donut3.jpg);
}

.donut3 {
    background-image: url(images/donut7.jpg);
}

  
@media only screen and (max-width: 1000px) {
    body{
        margin: 0;
        max-width: 100%;
        height: auto;
        background-color: var(--main-bg-color);
        padding: 2rem;
       }
    }


  @media only screen and (max-width: 700px) {
    .header {
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
        
    }
    .section1{
        text-align: center;
        width: 100%;
        height: auto;
    }
        
          .section2-description-box{
            width: 100%;
            text-align: center;
            font-size: 14px;
          }
          .dark-button{
            margin: auto;
            
          }
          
          .section2{
            width: 60%;
            height: auto;
            gap: 1rem;
            grid-template-columns: 1fr;
            justify-items: center;
        
          }

          .section3{
            display: grid;
            grid-template-columns: 1fr;
          }
          .section3-image-box{
          width: 50%;
          height: auto;

          }
        /*  body{
            margin: 0;
            max-width: 100%;
            height: auto;
            background-color: var(--main-bg-color);
           }*/
           .container {
            width: 100%;
            height: auto;
            padding: 2rem;
          }
    
          .header{
            grid-template-rows: 1fr;
            width: 100%;
            height: auto;
          }
          .logo-container{
            justify-content: center;
          }


  }

